/* dosis-regular - latin */
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/dosis-v27-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dosis-v27-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* vazirmatn-regular - latin */
@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/vazirmatn-v6-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/vazirmatn-v6-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --hero-h1: 2rem;
  --hero-h2: 5rem;
  --card-button-desktop-font-size-default: 32px;
  --card-button-desktop-line-height-default: 40px;
  --card-button-desktop-default-background-color: #d1b245;

  --card-leading-button-desktop-font-size: 24px;
  --card-leading-button-desktop-line-height: 30px;
  --card-leading-button-desktop-background-color: #449b71;

  --card-button-mobile-font-size: 10px;
  --card-button-mobile-line-height: 16px;
  --card-button-mobile-default-background-color: #d1b245;
  --card-button-mobile-leading-background-color: #449b71;
  --card-button-mobile-overbid-background-color: #c0363f;
}
